$blue-color: #6DD3FF;
$blue-color-hover: #61aece;
$blue-color-click: #599fbd;
$red-color: #FF6E6E;
$red-color-hover: #db6365;
$red-color-click: #c85a5c;
$light-gray: #d3d3d3;
$light-gray-hover: #c1c2c1;
$light-gray-click: #b0b1b1;
$regular-gray: #808080;
$regular-gray-hover: #747575;
$regular-gray-click: #696a6a;
$dark-gray: #232323;

.filter-display-container {
    grid-column: 2 / 5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .filter-item {
        height: auto;
        color: $regular-gray;
        padding: 5px 15px 5px 15px;
        border-radius: 2px 2px 2px 2px;
        &.on {
            background-color: $dark-gray;
            color: $light-gray;
            &:hover {
                background-color: $blue-color;
                color: $dark-gray;
            }
            &:active {
                background-color: $blue-color-click;
                color: $dark-gray-click;
            }
            cursor: pointer;
            &.selected {
                background-color: $blue-color;
                color: $dark-gray;
            }
        }   
    }
}