$blue-color: #6DD3FF;
$red-color: #FF6E6E;
$light-gray: lightgray;
$regular-gray: gray;
$dark-gray: #232323;

a:-webkit-any-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
    margin: 10px 10px 10px 10px;
    padding: 0px 20px 0px 20px;
    height: 40px;
    background-color: $blue-color;
    color: $dark-gray;
    border-radius: 2px 2px 2px 2px;
    &.link {
        &:hover {
            background-color: $red-color;
            color: white;
            cursor: pointer;
        }
        &:active {
            opacity: 80%;
        }
    }
}