$blue-color: #6DD3FF;
$blue-color-hover: #61aece;
$blue-color-click: #599fbd;
$red-color: #FF6E6E;
$red-color-hover: #db6365;
$red-color-click: #c85a5c;
$light-gray: #d3d3d3;
$light-gray-hover: #c1c2c1;
$light-gray-click: #b0b1b1;
$regular-gray: #808080;
$regular-gray-hover: #747575;
$regular-gray-click: #696a6a;
$dark-gray: #232323;

a:-webkit-any-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
    margin: 10px 10px 10px 10px;
    padding: 0px 20px 0px 20px;
    height: 40px;
    background-color: $blue-color;
    color: $dark-gray;
    border-radius: 2px 2px 2px 2px;
    &.link {
        &:hover {
            background-color: $red-color;
            color: white;
            cursor: pointer;
        }
        &:active {
            background-color: $red-color-click;
        }
    }
}