$blue-color: #6DD3FF;
$red-color: #FF6E6E;
$light-gray: lightgray;
$regular-gray: gray;
$dark-gray: #232323;

.main-container {
    display: flex;
    flex-direction: column;
    background-color: $light-gray;
    width: 500px;
    height: auto;
}