$blue-color: #6DD3FF;
$red-color: #FF6E6E;
$light-gray: lightgray;
$regular-gray: gray;
$dark-gray: #232323;

.main-container {
    
    .List-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}