$blue-color: #6DD3FF;
$blue-color-hover: #61aece;
$blue-color-click: #599fbd;
$red-color: #FF6E6E;
$red-color-hover: #db6365;
$red-color-click: #c85a5c;
$light-gray: #d3d3d3;
$light-gray-hover: #c1c2c1;
$light-gray-click: #b0b1b1;
$regular-gray: #808080;
$regular-gray-hover: #747575;
$regular-gray-click: #696a6a;
$dark-gray: #232323;
$dark-gray-click: #2e2e2d;

.all-green-button {
    width: 34px;
    height: 34px;
    margin: 0px 8px 0px 8px;
    background-color: $dark-gray;
    border-radius: 50%;
    border: none;
    outline: none;
    font-size: 18px;
    &.not-active {
        color: $regular-gray; 
    }
    &.true {
        color: $light-gray;
        &:hover {
            color: $red-color;
            cursor: pointer;
        }
        &:active {
            color: $red-color-click;
            background-color: $dark-gray-click;
        }
    }
    &.false {
        color: $light-gray;
        &:hover {
            color: $blue-color;
            cursor: pointer;
        }
        &:active {
            color: $blue-color-click;
            background-color: $dark-gray-click;
        }
    }
}

