$blue-color: #6DD3FF;
$blue-color-hover: #61aece;
$blue-color-click: #599fbd;
$red-color: #FF6E6E;
$red-color-hover: #db6365;
$red-color-click: #c85a5c;
$light-gray: #d3d3d3;
$light-gray-hover: #c1c2c1;
$light-gray-click: #b0b1b1;
$regular-gray: #808080;
$regular-gray-hover: #747575;
$regular-gray-click: #696a6a;
$dark-gray: #232323;

.todos-section-container {
    width: 100%;
    height: auto;
}