$blue-color: #6DD3FF;
$red-color: #FF6E6E;
$light-gray: lightgray;
$regular-gray: gray;
$dark-gray: #232323;

.new-list-container {
    form {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        height: 50px;
        width: auto;
        input {
            font-family: 'Quicksand', sans-serif;
            width: 150px;
            height: 100%;
            border: none;
            padding: 0px 20px 0px 20px;
            background-color: $light-gray;
            font-size: 20px;
            font-weight: 700;
            color: $dark-gray;
            border-radius: 0px 0px 0px 0px;
            &.notification::placeholder {
                color: $red-color;
            }
            &:focus {
                outline: none;
            }
            &::placeholder {
                color: $regular-gray;
                margin: 0px;
            }
        }
        .submit {
            background-color: $regular-gray;
            width: 50px;
            color: $light-gray;
            font-size: 26px;
            font-weight: 700;
            border-radius: 0px 2px 2px 0px;
            &:hover {
                color: $dark-gray;
                cursor: pointer;
            }
        }
    }
}