$blue-color: #6DD3FF;
$blue-color-hover: #61aece;
$blue-color-click: #599fbd;
$red-color: #FF6E6E;
$red-color-hover: #db6365;
$red-color-click: #c85a5c;
$light-gray: #d3d3d3;
$light-gray-hover: #c1c2c1;
$light-gray-click: #b0b1b1;
$regular-gray: #808080;
$regular-gray-hover: #747575;
$regular-gray-click: #696a6a;
$dark-gray: #232323;

.new-list-container {
    form {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        height: 50px;
        width: auto;
        input {
            font-family: 'Quicksand', sans-serif;
            width: 150px;
            height: 100%;
            border: none;
            padding: 0px 20px 0px 20px;
            background-color: $light-gray;
            font-size: 20px;
            font-weight: 700;
            color: $dark-gray;
            border-radius: 0px 0px 0px 0px;
            &.notification::placeholder {
                color: $red-color;
            }
            &:focus {
                outline: none;
            }
            &::placeholder {
                color: $regular-gray;
                margin: 0px;
            }
        }
        .submit {
            background-color: $regular-gray;
            width: 50px;
            color: $light-gray;
            font-size: 26px;
            font-weight: 700;
            border-radius: 0px 2px 2px 0px;
            &:hover {
                background-color: $regular-gray-hover;
                color: $light-gray-hover;
                cursor: pointer;
            }
            &:active {
                background-color: $regular-gray-click;
                color: $light-gray-click;
            }
        }
    }
}