$blue-color: #6DD3FF;
$red-color: #FF6E6E;
$light-gray: lightgray;
$regular-gray: gray;
$dark-gray: #232323;

.delete-list-container {
    background-color: $light-gray;
    border-radius: 2px 2px 2px 2px;
    color: $dark-gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 50px;
    &:hover {
        background-color: $red-color;
        color: white;
        cursor: pointer;
    }
    &:active {
        opacity: 80%;
    }
    p {
        text-indent: 10px;
        font-size: 20px;
        font-weight: 700;
        margin: 10px 10px 10px 10px;
    }
    .fa-times{
        font-size: 24px;
        margin: 0px 15px 0px 0px;
    }
}