$blue-color: #6DD3FF;
$red-color: #FF6E6E;
$light-gray: lightgray;
$regular-gray: gray;
$dark-gray: #232323;

.list-bar-container {
    position: fixed;
    top: 55px;
    left: 0px;
    margin: 55px 4px 0px 0px;
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}