$blue-color: #6DD3FF;
$red-color: #FF6E6E;
$light-gray: lightgray;
$regular-gray: gray;
$dark-gray: #232323;

.list-bar-container {
    margin: 110px 0px 0px 0px;
    height: auto;
    max-width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}