$blue-color: #6DD3FF;
$blue-color-hover: #61aece;
$blue-color-click: #599fbd;
$red-color: #FF6E6E;
$red-color-hover: #db6365;
$red-color-click: #c85a5c;
$light-gray: #d3d3d3;
$light-gray-hover: #c1c2c1;
$light-gray-click: #b0b1b1;
$regular-gray: #808080;
$regular-gray-hover: #747575;
$regular-gray-click: #696a6a;
$dark-gray: #232323;

.clear-completed-container, button {
    grid-column: 5 / 6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 10px 0px 10px;
    color: $regular-gray;
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: 700;
    &:focus {
        outline: none;
    }
    &.active {
        color: $red-color;
        &:hover {
            color: $regular-gray;
        }
        &.clicker {
            color: $blue-color;
            &:hover {
                color: $red-color;
                cursor: pointer;
            }
            &:active {
                color: $red-color-click;
            }
        }
    }
}