$blue-color: #6DD3FF;
$red-color: #FF6E6E;
$light-gray: lightgray;
$regular-gray: gray;
$dark-gray: #232323;

.todo-body-container {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 0px 5px 0px;
    font-size: 20px;
    font-weight: 700;
    color: $dark-gray;
    width: 100%;
    height: auto;
    overflow: hidden;
    &:focus {
        outline: none;
    }
    &.completed {
        color: $regular-gray;
        text-decoration: line-through;
        text-decoration-color: $red-color;
    }
}
