$blue-color: #6DD3FF;
$red-color: #FF6E6E;
$light-gray: lightgray;
$regular-gray: gray;
$dark-gray: #232323;

.todo-body-container {
    font-size: 20px;
    font-weight: 700;
    color: $dark-gray;
    margin: 10px 0px 10px 0px;
    &:focus {
        outline: none;
    }
    &.completed {
        color: $regular-gray;
        text-decoration: line-through;
        text-decoration-color: $red-color;
    }
}
