$blue-color: #6DD3FF;
$red-color: #FF6E6E;
$light-gray: lightgray;
$regular-gray: gray;
$dark-gray: #232323;



.clear-completed-container, button {
    grid-column: 5 / 6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 10px 0px 10px;
    color: $regular-gray;
    background-color: transparent;
    border: none;
    font-weight: 700;
    font-size: 16px;
    &:focus {
        outline: none;
    }
    &.active {
        color: $red-color;
        &:hover {
            color: $regular-gray;
        }
        &.clicker {
            color: $blue-color;
            &:hover {
                color: $red-color;
                cursor: pointer;
            }
        }
    }
}