$blue-color: #6DD3FF;
$red-color: #FF6E6E;
$light-gray: lightgray;
$regular-gray: gray;
$dark-gray: #232323;

.lower-section-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .lower-pannel{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 50px;
        width: 100%;
        font-size: 16px;
        font-weight: 700;
        background-color: $dark-gray;
    }
    h2 {
        color: $blue-color;
        font-size: 50px;
        text-align: center;
        &.hide {
            display: none;
        }
    }
}