$blue-color: #6DD3FF;
$red-color: #FF6E6E;
$light-gray: lightgray;
$regular-gray: gray;
$dark-gray: #232323;

*::selection {
    color: $blue-color;
    background-color: $red-color;
}

body {
    background-color: $dark-gray;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
}