$blue-color: #6DD3FF;
$red-color: #FF6E6E;
$light-gray: lightgray;
$regular-gray: gray;
$dark-gray: #232323;

*::selection {
    color: white;
    background-color: rgba(255, 110, 110, 0.9);
}

body {
    background-color: $dark-gray;
    width: 100%;
    margin: 0px;
    font-family: 'Quicksand', sans-serif;
    overflow: overlay;
}