$blue-color: #6DD3FF;
$red-color: #FF6E6E;
$light-gray: lightgray;
$regular-gray: gray;
$dark-gray: #232323;

.list-button-container {
    margin: 0px 0px 5px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 240px;
    button {
        background: $regular-gray;
        border-radius: 0px 2px 2px 0px;
        color: $light-gray;
        font-size: 20px;
        text-align: left;
        font-weight: 500;
        min-height: 50px;
        padding: 10px 20px 10px 20px;
        overflow: hidden;
        &.active {
            background: $red-color;
            color: white;
            &.completed {
                background: $blue-color;
            }
        }
    }
}