$blue-color: #6DD3FF;
$red-color: #FF6E6E;
$light-gray: lightgray;
$regular-gray: gray;
$dark-gray: #232323;

.list-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: auto;
    margin: 40px 0px 0px 0px;
}