$green-color: rgba(122, 201, 67, 0.5);
$red-color: rgba(255, 29, 37, 0.5);

.new-user-container {
    margin: 20px 0px 0px 0px;
    display: none;
    &.active {
        display: block;
    }
    form {
        margin: 0px 0px 0px 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        input {
            &.submit {
                background-color: $red-color;
                color: white;
                font-size: 16px;
                font-weight: 500;
                border-radius: 0px 8px 8px 0px;
                &:hover {
                    background-color: $green-color;
                    color: $red-color;
                    cursor: pointer;
                }
            }
            background-color: white;
            border: none;
            height: 40px;
            padding: 0px 10px 0px 10px;
            border-radius: 8px 0px 0px 8px;
            box-sizing: border-box;
            color: $red-color;
            font-size: 20px;
            margin: 0px 0px 0px 0px;
            font-weight: 700;
            &::placeholder {
                color: $green-color;
                font-size: 20px;
                margin: 0px;
                font-weight: 700;
            }
            &:focus {
                outline: none;
            }
        }
    }
}