$blue-color: #6DD3FF;
$red-color: #FF6E6E;
$light-gray: lightgray;
$regular-gray: gray;
$dark-gray: #232323;


.new-user-container {
    margin: 0px 0px 0px 0px;
    form {
        margin: 0px 0px 0px 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: auto;
        input {
            font-family: 'Quicksand', sans-serif;
            width: 200px;
            height: 100%;
            border: none;
            border-radius: 0px;
            padding: 0px 20px 0px 20px;
            background-color: $light-gray;
            font-size: 20px;
            font-weight: 700;
            color: $dark-gray;
            &.notification::placeholder {
                color: $red-color;
            }
            &:focus {
                outline: none;
            }
            &::placeholder {
                color: $regular-gray;
                margin: 0px;
            }
        }
        .submit {
            background-color: $regular-gray;
            color: $light-gray;
            width: auto;
            font-weight: 700;
            &:hover {
                color: $dark-gray;
                cursor: pointer;
            }
        }
    }
}