$blue-color: #6DD3FF;
$red-color: #FF6E6E;
$light-gray: lightgray;
$regular-gray: gray;
$dark-gray: #232323;

.enter-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .logo-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $red-color;
        margin: 0px 0px 10vh 0px;
        h1 {
            font-size: 80px;
            margin: 0px;
        }
        h2 {
            color: $blue-color;
            margin: 0px;
            &:hover {
                color: $regular-gray;
                text-decoration: line-through;
                text-decoration-color: $blue-color;
                cursor: default;
            }
        }
    }
    .users-new-users-containet {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 0px 0px 0px 0px;
        color: $red-color;
        h3 {
            color: $light-gray;
            margin: 0px 0px 0px 0px;
            font-weight: 500;
            .max-five {
                color: $red-color;
            }
        }
    }
}