$blue-color: #6DD3FF;
$blue-color-hover: #61aece;
$blue-color-click: #599fbd;
$red-color: #FF6E6E;
$red-color-hover: #db6365;
$red-color-click: #c85a5c;
$light-gray: #d3d3d3;
$light-gray-hover: #c1c2c1;
$light-gray-click: #b0b1b1;
$regular-gray: #808080;
$regular-gray-hover: #747575;
$regular-gray-click: #696a6a;
$dark-gray: #232323;

.list-header-container {
    width: 100%;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: minmax(50px, auto);
    h2 {
        grid-column: 2 / 3;
        overflow: hidden;
        text-align: center;
        color: $regular-gray;
        font-size: 40px;
        font-weight: 400;
        margin: 0px 0px 0px 0px;
        height: auto;
        &:focus {
            outline: none;
        }
        &.active {
            color: $red-color;
            &.completed {
                color: $blue-color;
            }
        }
    }
}