$blue-color: #6DD3FF;
$red-color: #FF6E6E;
$light-gray: lightgray;
$regular-gray: gray;
$dark-gray: #232323;


.todo-item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    border-bottom: 4px solid $dark-gray;
    box-sizing: border-box;
    .check-and-todo-body {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    &.hide {
        display: none;
    }
}