$blue-color: #6DD3FF;
$blue-color-hover: #61aece;
$blue-color-click: #599fbd;
$red-color: #FF6E6E;
$red-color-hover: #db6365;
$red-color-click: #c85a5c;
$light-gray: #d3d3d3;
$light-gray-hover: #c1c2c1;
$light-gray-click: #b0b1b1;
$regular-gray: #808080;
$regular-gray-hover: #747575;
$regular-gray-click: #696a6a;
$dark-gray: #232323;

.header-container {
    position: fixed;
    width: 100%;
    margin: 0px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    .left-side {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin: 0px 10px 0px 30px;
        .fas {
            font-size: 40px;
            color: $blue-color;
            margin: 0px 0px 0px 0px;
            &:hover {
                color: $red-color;
                cursor: pointer;
            }
            &:active {
                color: $red-color-click;
            }
        }
        h1 {
            font-weight: 500;
            font-size: 24px;
            padding: 0px 0px 0px 0px;
            margin: 0px 0px 0px 20px;
            color:  $regular-gray;
            &.red {
                color: $red-color;
            }
        }
    
    }
    .right-side {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin: 10px 20px 10px 10px;
    }
}