$blue-color: #6DD3FF;
$red-color: #FF6E6E;
$light-gray: lightgray;
$regular-gray: gray;
$dark-gray: #232323;

.dropdown-menu-container {
    display: none;
    position: absolute;
    top: 55px;
    width: 200px;
    height: auto;
    &.open {
        display: block;
    }
}