$blue-color: #6DD3FF;
$red-color: #FF6E6E;
$light-gray: lightgray;
$regular-gray: gray;
$dark-gray: #232323;

.delete-button {
    grid-column: 3 / 4;
    width: 50px;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 700;
    background-color: transparent;
    color: $regular-gray;
    z-index: 1;
    &:hover {
        color: $red-color;
        cursor: pointer;
    }
}