$blue-color: #6DD3FF;
$red-color: #FF6E6E;
$light-gray: lightgray;
$regular-gray: gray;
$dark-gray: #232323;

.upper-section-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    .check-all-input-container {
        border-radius: 2px 2px 2px 2px;
        margin: 5px 0px 0px 0px;
        width: 100%;
        min-height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        background-color: $blue-color;
    }
    .h2-container {
        &.hide {
            display: none;
        }
        h2 {
            margin: 55px 0px 0px 0px;
            color: $regular-gray;
            font-size: 50px;
            font-weight: 500;
            text-align: center;
        }
    }
}