$blue-color: #6DD3FF;
$red-color: #FF6E6E;
$light-gray: lightgray;
$regular-gray: gray;
$dark-gray: #232323;

.upper-section-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    h2 {
        color: $regular-gray;
        font-size: 30px;
        font-weight: 500;
        &.active {
            color: $red-color;
            &.completed {
                color: $blue-color;
            }
        }
    }
    .check-all-input-container {
        border-bottom: 4px solid $dark-gray;
        border-radius: 10px 50px 0px 0px;
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        background-color: $blue-color;
    }
}