$blue-color: #6DD3FF;
$red-color: #FF6E6E;
$light-gray: lightgray;
$regular-gray: gray;
$dark-gray: #232323;



.counter-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: $regular-gray;
    padding: 0px 20px 0px 20px;
    p.active {
        color: $light-gray;
        span {
            &.red {
                color: $red-color;
            }
        }
    }
}